
<!-- All Credit for Design to http://www.bypeople.com/css-chat/ -- https://codepen.io/Momciloo/pen/bEdbxY -->
<html>
	<head>
	    <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}"></link>
		
		
				
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-base64/2.0.5/angular-base64.min.js"></script>
		

	    <script src="{{url_for('static', filename='main.js')}}"></script>
	    <script src="{{url_for('static', filename='main_angular.js')}}"></script>

		<!-- toastr -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></link>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<!-- End toastr -->
	</head>
	<body style="background-image:url({{url_for('static', filename='background.jpg')}})">
	
		<div class="wrapper" ng-app="HomeTextingApp">
		    <div class="container" ng-controller="HomeTextingController">
		    <notification ></notification>
		    	<div id="LoginInfo" ng-show="!validLogin">
					<div class="login">
						<input type="text" placeholder="Server IP Address" id="serverIP" ng-model="UserObj.serverIP">
					  	<input type="text" placeholder="Username" id="username" ng-model="UserObj.username" ng-change="UserObj.updateAuth()">  
					  	<input type="password" placeholder="Password" id="password"ng-model="UserObj.password" ng-change="UserObj.updateAuth()">  
					  	<a href="#" class="forgot">forgot password?</a>
					  	<input type="submit" value="Sign In" ng-click="Login()">
					</div>
		    	</div>
		        <div class="left" ng-show="validLogin")>
		            <div class="top">
		                <input type="text" />
		                <a href="javascript:;" class="search"></a>
		            </div>
		            <div class="peopleContainer">
			            <ul class="people">
			                <li ng-click="conversationClicked(conversation)" ng-repeat="conversation in conversations" ng-class="getPersonClass(conversation)">
			                     <!-- 
			                    <img src="https://s13.postimg.org/ih41k9tqr/img1.jpg" alt="" />
			                     -->
			                    <span class="badge" data-badge="{{' {{conversation.unreadCount}}'}}" ng-show="conversation.unreadCount > 0"></span>
			                    <span class="name">{{'{{conversation.name}}'}}</span>
			                    <span class="time">{{'{{conversation.lastMessageTime}}'}}</span>
			                    <span class="preview">{{'{{conversation.lastMessage.message}}'}}</span>
			                </li>	
			            </ul>
		            </div>
		        </div>
		        <div class="right" ng-show="validLogin">
		            <div class="top"><span>To: <span class="name">{{'{{activeConversation.name}}'}}</span></span></div>
		            <div class="chat active-chat" data-chat="person1">
			            <div id="scrollContainer" scroll-glue>
			                <!-- 
			                <div class="conversation-start">
			                    <span>Today, 6:48 AM</span>
			                </div>
			                 -->
			                <div ng-repeat="message in activeConversation.messages" ng-class="getMessageClass(message)">
			                    {{'{{message.message}}'}}
			                </div>
	                	</div>
		            </div>
		            <div class="write">
		                <a href="javascript:;" class="write-link attach"></a>
		                <input type="text" ng-model="messageTextBox" ng-keypress="submit($event)"/>
		                <a href="javascript:;" class="write-link smiley"></a>
		                <a href="javascript:;" class="write-link send" ng-click="sendMessage(activeConversation)"></a>
		            </div>
		        </div>
		    </div>
		</div>
	</body>
</html>